body {
  background-color: #36393f;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  max-width: 60px;
  height: 34px;
}

.switch-small {
  position: relative;
  display: inline-block;
  width: 36px;
  max-width: 36px;
  height: 18px;
}

.switch input,
.switch-small input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider,
.switch-small .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-small .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider,
.switch-small input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider,
.switch-small input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-small input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.switch .slider.round,
.switch-small .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before,
.switch-small .slider.round:before {
  border-radius: 50%;
}

/* Banword */
.banword {
    width: 24%;
    background-color: #212529;
    border: 1px solid #dddddd;
    border-radius: 15px;
    padding: .75rem 1rem;
    margin-right: .5rem;
    margin-bottom: 1rem;
}

.banword-title-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.banword-title-row > h4 {
	flex: 1 0 auto;
	margin-bottom: 0;
}

.banword-title-row > .switch {
	flex: 1 0 auto;
}

.banword-title-row > .timeout-info {
	flex: 1 1 100%;
	font-size: 95%;
}

.banword-config-row {
	display: flex;
	flex-flow: row wrap;
}

.banword-config-row > div {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.banword.new {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: #212529;
    border: 3px solid #101214;
}

.switch-group {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}