body {
	background-color: #36393f;
}

.ticket {
    display: flex;
    flex-flow: row wrap;
    background-color: #212529;
    border: 2px solid #8c8c8c;
    border-radius: .25rem;
    padding: .5rem;
    align-items: baseline;
}

.ticket-user {
    flex: 1 1 auto;
    flex-grow: 0;
    margin-right: 1rem;
    font-weight: 700;
    align-items: flex-start;
}

.ticket-user > img{
    border-radius: 50%;
}

.ticket-created {
    flex: 1 1 auto;
    flex-grow: 0;
    margin-right: 1rem;
    font-size: 90%;
}

.ticket-created label {
	color: #6bff2e;
}

.ticket-updated {
    flex: 1 1 auto;
    flex-grow: 0;
    margin-right: 1rem;
    font-size: 90%;
}

.ticket-updated label {
	color: #6bff2e;
}

.ticket-history {
    flex: 2 1 auto;
}

.ticket-history label {
    color: #6bff2e;
}

.ticket-message  {
    flex: 1 0 100%;
    margin-top: .25rem;
    padding-left: 2rem;
    background: #36393f;
    color: #55b8ff
}

.ticket-message .time {
	color: #f1c72e;
	display: inline-block;
}