body {
	background-color: #36393f;
}

.search-container {
    background: #212529;
    padding: 0.75rem 0;
    border: 2px solid #777;
    border-radius: .5rem;
    margin-bottom: 2rem;
}

#search-user-input {
    background: #36393f;
    color: white;
}

#search-user-input::placeholder,
#search-user-input:-ms-input-placeholder,
#search-user-input::-ms-input-placeholder {
  color: white;
}

#search-user-addon {
    background: #212529;
    color: white;
    border: 1px solid #ced4da;
}

.user-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
    background-color: #212529;
    border: 2px solid #777;
    margin-bottom: .75rem;
    padding: .5rem 1rem;
    border-radius: 5px;
}

.list-user {
	display: flex;
	flex-flow: row nowrap;
	flex: 2 2 auto;
}

.list-user img {
    border-radius: 50%;
    border: 2px solid white;
    margin-right: .75rem;
}

.list-user-name {
	font-size: 115%;
	font-weight: 500;
	display: contents;
}

.list-user-id {
	font-size: 90%;
	display: contents;
	cursor: pointer;
}

.list-user-id:hover {
	text-decoration: underline;
}

.list-recent-strikes {
	flex: 1 1 auto;
	text-align: center;
}

.list-all-strikes {
	flex: 1 1 auto;
	text-align: center;
}

.list-strike-count {
    font-size: 300%;
    font-weight: 700;
    display: contents;
    color: #fb4c4c;
}

.list-strike-count:hover {
    cursor: pointer;
    text-decoration: underline;
}

.user-recent-strikes {
    flex: 1 0 100%;
    background: #36393f;
    border: 2px solid #777;
    border-radius: 5px;
    padding: 1rem;
}

.user-all-strikes {
    flex: 1 0 100%;
    background: #36393f;
    border: 2px solid #777;
    border-radius: 5px;
    padding: 1rem;
}

.strikes-list {
	min-height: 35vh;
	max-height: 35vh;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: thin;
}

.strikes-list::-webkit-scrollbar {
    width: 10px;
}

.strikes-list::-webkit-scrollbar-track {
    background-color: darkgrey;
}

.strikes-list::-webkit-scrollbar-thumb {
    background-color: #182294d4;
    box-shadow: inset 0 0 6px rgb(0 78 255);
    border: 1px solid black;
}

.strikes-list li {
    display: flex;
    flex-flow: row wrap;
    background-color: #212529;
    border: 1px solid #070808;
    padding: .5rem 1rem;
    border-radius: .25rem;
    margin-bottom: .5rem;
}

.strikes-list li .strikes-user {
    color: #6aff6a;
    flex:  1 1 0;
    max-width: 25%;
    cursor: pointer;
}

.strikes-list li .strikes-user:hover {
    text-decoration: underline;
}

.strikes-list li .entry-user {
    color: #6aff6a;
    flex:  2 1 0;
    min-width: 25%;
    cursor: pointer;
}

.strikes-list li .entry-user:hover {
    text-decoration: underline;
}

.strikes-list li .entry-reason {
    flex:  2 2 0;
    min-width: 25%;
}

.strikes-list li .entry-date {
    color: #7eacff;
    flex:  1 1 0;
    min-width: 20%;
}

.strikes-list li .entry-issuer {
    color: #ea6b6b;
    flex:  2 1 0;
    text-align: right;
    min-width: 25%;
}

.list-header {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: 0 !important;
}

.list-columns {
    margin-top: 0 !important;
    border-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}