{% if session['logged_in'] %}
<header>
    <div class="bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/dashboard" class="d-flex align-items-center text-white text-decoration-none">
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="32" height="32" role="img" aria-label="M2" />
          </a>

          <ul class="nav ms-auto justify-content-center text-small">
            <li class="{% if request.endpoint == 'dashboard.index' %}active {% endif %}py-2">
              <a href="{{ url_for('dashboard.index') }}" class="nav-link text-white">Dashboard</a>
            </li>
            <li class="{% if 'users' in request.endpoint %}active {% endif %}py-2">
              <a href="{{ url_for('users.index') }}" class="nav-link text-white">Users</a>
            </li>
            <li class="{% if 'modmail' in request.endpoint %}active {% endif %}py-2">
              <a href="{{ url_for('modmail.index') }}" class="nav-link text-white">Modmail</a>
            </li>
            <li class="{% if 'banwords' in request.endpoint %}active {% endif %}py-2">
              <a href="{{ url_for('banwords.index') }}" class="nav-link text-white">Banwords</a>
            </li>
            <li class="py-2">
              <a href="{{ url_for('session.logout') }}" class="nav-link text-white">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
{% endif %}