{% extends "_base.html" %}

{% block title %}User List{% endblock %}

{% block js %}
	<script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.min.js') }}" type="text/JavaScript"></script>
	<script src="{{ url_for('static', filename='js/users_index.js') }}" type="text/JavaScript"></script>
{% endblock %}

{% block style %}
<link href="{{ url_for('static', filename='css/users_index.css') }}" rel="stylesheet" media="screen">
{% endblock %}
 
{% block content %}
<div class="container">

	<div class="row mt-3">
		<div class="col-12">
			<h1>User List</h1>
		</div>
	</div>

	<div class="mt-3 row search-container">
		<div class="col-4">
			<div class="input-group">
				<input type="text" id="search-user-input" class="form-control" placeholder="Username or ID" aria-label="Username or ID" aria-describedby="search-user-addon">
				<button class="btn btn-secondary" type="button" id="search-user-addon"><i class="bi bi-search"></i></button>
			</div>
		</div>
		<div class="col-auto"><label class="col-form-label">Sort:</label></div>
		<div class="col-2">
			<select class="form-select" aria-label="Sorting options">
				<option value="strikes" selected>Strikes</option>
				<option value="id">ID</option>
				<option value="username">Username</option>
			</select>
		</div>
	</div>

	<div class="users-list">

		<ul class="list-unstyled">
			{% for user_id in strikes_data %}
			<li class="user-container">
				<div class="list-user">
					<img src="{{ build_avatar_url(strikes_data[user_id]['discord_id'], strikes_data[user_id]['avatar']) }}" width="48" class="img-responsive" />
					<span class="list-user-name">{{ strikes_data[user_id]['username'] }}#{{ strikes_data[user_id]['username_handle'] }}</span><br>
					<span class="list-user-id user-id" data-id="{{ strikes_data[user_id]['discord_id'] }}">{{ strikes_data[user_id]['discord_id'] }}</span>
				</div>
				<div class="list-recent-strikes">
					<span class="list-strike-count">{{ strikes_data[user_id]['recent_strikes'] | length }}</span><br>recent strikes
				</div>
				<div class="list-all-strikes">
					<span class="list-strike-count">{{ strikes_data[user_id]['all_strikes'] | length }}</span><br>total strikes
				</div>
				<div class="list-avg-time">
					<span class="list-strike-count">{{ strikes_data[user_id]['avg_time'] }}</span><br>avg days between strikes
				</div>
				<div class="list-areachart">
					<canvas class="area-chart" height="100" data-data='{{ strikes_data[user_id]["chart_data"] | tojson | safe }}'></canvas>
				</div>
				<div class="user-recent-strikes d-none">
					<ul class="list-unstyled strikes-list">
						<li class="list-header">
							<h6>Recent strikes</h6>
						</li>
						<lI class="list-columns">
							<span class="entry-user fw-bold">Strike ID</span>
							<span class="entry-reason fw-bold">Reason</span>
							<span class="entry-date fw-bold">Date</span>
							<span class="entry-issuer fw-bold">Issuer</span>
						</li>
						{% for strike in strikes_data[user_id]['recent_strikes'] %}
						<li>
							<span class="entry-user strike-id" data-id="{{ strike['_id'] }}">{{ strike['_id'] }}</span>
							<span class="entry-reason">{{ strike['reason'] }}</span>
							<span class="entry-date">{{ date_to_string(strike['created_date']) }}</span>
							<span class="entry-issuer">{{ strike['issuer']['username'] }}#{{ strike['issuer']['username_handle'] }}</span>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="user-all-strikes d-none">
					<ul class="list-unstyled strikes-list">
						<li class="list-header">
							<h6>Total strikes</h6>
						</li>
						<lI class="list-columns">
							<span class="entry-user fw-bold">Strike ID</span>
							<span class="entry-reason fw-bold">Reason</span>
							<span class="entry-date fw-bold">Date</span>
							<span class="entry-issuer fw-bold">Issuer</span>
						</li>
						{% for strike in strikes_data[user_id]['all_strikes'] %}
						<li>
							<span class="entry-user" data-id="{{ strike['_id'] }}">{{ strike['_id'] }}</span>
							<span class="entry-reason">{{ strike['reason'] }}</span>
							<span class="entry-date">{{ date_to_string(strike['created_date']) }}</span>
							<span class="entry-issuer">{{ strike['issuer']['username'] }}#{{ strike['issuer']['username_handle'] }}</span>
						</li>
						{% endfor %}
					</ul>
				</div>
			</li>
			{% endfor %}
		</ul>

	</div>
	
</div>
{% endblock %}